#ekey{
	height: 60px;
	float: right;
}

#directionu {
	height: 60px;
	float: right;
}

#clickdrag{
	height: 60px;
	float:right;
}

#scrolltozoom{
	height: 60px;
	float: right;
}

table {
	margin: auto;
}

th, td{
	padding: 5px 5px 5px 5px;
}

th {
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-size: 90%;
	border-bottom: 2px solid #111111
	border-top:1px solid #999;
	text-align: left;
}

tr{
	padding-top: 5px;
	padding-bottom: 5px;
	height: 70px;
}

.icons{
	border-bottom: 1px solid #dbdbdb;
}

.modal-footer{
	text-align: center;
}





















